.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    padding: 10px;
    border: 1px black solid;
    margin-bottom: 50px;
    border: 1px black solid;
}

.postImage {
    width: 280px;
}

.key {
    text-align: left;
    font-size: 20px;
    color: rgb(73, 191, 126);
    align-items: center;
    text-align: center;
}

.value {
    font-size: 20px;
}

.joinBtn {
    padding: 12px 30px;
    font-size: 20px;
    background-color: rgb(104,217,155);
    color: white;
    border: 0;
}
